version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      github-actions:
        patterns:
        - '*'
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: leaflet-vector-tile-layer
        versions: [ ">=1.0.0" ]
    groups:
      npm:
        patterns:
        - '*'
  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "daily"
