public
resources
.hugo_build.lock
.DS_Store
public
hugo_stats.json
static/images/favicon*
static/images/*.svg
static/images/background.jpg
static/images/red-lether.jpg
static/images/laborant.svg
static/images/cm.svg
static/images/cm-black.svg
static/images/bill*.png
static/images/tagcloud.svg
static/pdfjs/**
**/.DS_Store
**/vips-properties.xml
postcss.config.js
browserslist
.stylelintrc.json
assets/css/fonts
static/images/apple-touch-icon.png
*.bak.jpg
*.bib.html
assets/scss/flags/flags.scss
pagefind
assets/scss/npm-fonts
pnpm-lock.yaml
purgecss.config.js
package.json
node_modules/
archetypes/
docs/
static/fonts/