<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ end }}</title>
    {{- partial "html/head/meta.html" . -}}
    {{- partial "html/head/style.html" (dict "context" .) -}}
    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_32 | default "/images/favicon-32.png" | absURL }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_16 | default "/images/favicon-16.png" | absURL }}" sizes="16x16">
    {{- partial "html/head/script.html" . -}}
    <link rel="canonical" href="{{ .Permalink }}">
    {{- partial "metadata/schema.org/schema.org.html" . -}}
</head>
<body>
    <div class="main-container table">
        {{ partial "header.html" . }}
        {{ partial "sidebar.html" . }}
        <main class="td">
          {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer.html" . }}
    </div>
    {{ $script := resources.Get "ts/main.ts" | js.Build (dict "minify" true) }}
    <script src="{{ $script.RelPermalink }}"></script>
</body>
</html>
