{{ define "main" }}
    <article class="retro-box">
        <h2 style="text-decoration: underline;">{{ .Title }}</h2>
        <div class="meta blink">
            <small><i>{{ i18n "written_by_webmaster_on" }} {{ (.Date.AddDate -27 0 0).Format "02.01.2006" }}</i></small>
        </div>
        <br><br>
        
        <div class="content">
            {{ .Content }}
        </div>
        
        <br>

        {{ partial "gallery.html" . }}

        <br>
        <center>
            <hr style="width: 50%;">
            <a href="{{ .Site.BaseURL }}">{{ i18n "back_to_home" }}</a>
        </center>
    </article>
{{ end }}