@use "sass:color";
@use "npm-fonts/comic-relief" as *;

@use "retro" as *;
@use "html3" as *;

$black: #000000;
$yellow: #FFFF00;
$cyan: #00FFFF; // Neon Blue
$magenta: #FF00FF;
$white: #FFFFFF;
$blue: #0000FF;
$navy: #000033; // Dark Space Blue
$grey: #C0C0C0; // Windows 95 Grey
$dark-grey: #808080;
$red: #FF0000;
$green: #39FF14; // Neon Green
$purple: #800080;
$teal: #008080;
$orange: #FF4500;

$text-font: 'Comic Relief', serif;
$heading-font: 'Times New Roman', serif;

body {
    background-color: #87CEEB;
    background-image: url('/images/sky.jpg');
    color: $black;
    font-family: $text-font;
    margin: 0;
    padding: 10px;
    min-height: 100vh;
}

.retro-box {
    /*background-color: $white;*/
    border: 2px inset $dark-grey;
    padding: 15px;
    margin-bottom: 20px;
    color: $black;
}

article h3 {
  background-color: #000080;
  border: 2px outset white;
  padding: 5px;
  color: yellow;
}

article.retro-box .meta {
    text-align: right;
}

a {
    color: $blue;
    text-decoration: underline;

    &:visited {
        color: $purple;
    }

    &:hover {
        color: $red;
        background-color: $yellow;
        text-decoration: none;
        cursor: pointer;
    }
}

.main-container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: $grey;

    h1 {
        font-family: $heading-font;

        font-size: 3em;
        margin: 0;
        margin-top: 2rem;
        margin-bottom: 1.6rem;
        /*
        color: $yellow;
        animation: fire 1.5s linear infinite;
        animation: burn 0.7s infinite steps(1);
        */

        /*
        letter-spacing: -1.2px;
        line-height: 3;
        background-clip: text;
        -webkit-background-clip: text;

        mask-image: linear-gradient(
          to top,
          black 0%,
          black 65%,
          transparent 78%,
          transparent 100%
        );


        animation: fire 0.8s infinite steps(1);
        */
      }
}

@keyframes fire {
  0% {
    background-image:
      linear-gradient(
        90deg,
        #4e342e 0%,
        #bf360c 20%,
        #f44336 40%,
        #ff9800 60%,
        #fff176 75%,
        #ffffff 82%,
        #fff176 88%
      );
    background-size: 140% 100%;
    background-position: 0% 100%;
  }

  25% {
    background-image:
      linear-gradient(
        90deg,
        #3e2723 0%,
        #d84315 22%,
        #ff5722 42%,
        #ffa726 62%,
        #fff59d 76%,
        #ffffff 82%,
        #fff59d 88%
      );
    background-size: 140% 100%;
    background-position: 10% 100%;
  }

  50% {
    background-image:
      linear-gradient(
        90deg,
        #5d4037 0%,
        #bf360c 20%,
        #f44336 40%,
        #ffb300 60%,
        #fff176 74%,
        #ffffff 82%,
        #fff176 88%
      );
    background-size: 140% 100%;
    background-position: 20% 100%;
  }

  75% {
    background-image:
      linear-gradient(
        90deg,
        #4e342e 0%,
        #e64a19 22%,
        #ff7043 42%,
        #ffa000 62%,
        #fff9c4 76%,
        #ffffff 82%,
        #fff9c4 88%
      );
    background-size: 140% 100%;
    background-position: 10% 100%;
  }

  100% {
    background-image:
      linear-gradient(
        90deg,
        #4e342e 0%,
        #bf360c 20%,
        #f44336 40%,
        #ff9800 60%,
        #fff176 75%,
        #ffffff 82%,
        #fff176 88%
      );
    background-size: 140% 100%;
    background-position: 0% 100%;
  }
}

.marquee-container {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    background-color: $black;
    /* border: 2px inset $dark-grey; */
    margin-bottom: 15px;

  .marquee-content {
      display: inline-block;
      padding-left: 100%;
      animation: marquee 15s linear infinite;
      color: $green;
      font-family: "Courier New", monospace;
      font-weight: bold;
      font-size: 1.2em;
      padding-top: 5px;
      padding-bottom: 5px;
  }

  @keyframes marquee {
      0% { transform: translate(0, 0); }
      100% { transform: translate(-100%, 0); }
  }
}

aside {
    width: 200px;
    padding: 10px;
    border-right: 2px groove $white;
    background-color: $grey;
    text-align: center;
    box-sizing: border-box;

    .nav-header {
        color: $navy;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: "Arial", sans-serif;
        border-bottom: 1px solid $navy;
        padding-bottom: 5px;
    }

    .nav-toggle, .nav-toggle-label {
        display: none;
    }

    .retro-menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    .menu-btn {
        display: block;
        background-color: $blue;
        height: calc(31px * (2 / 3));
        width: calc(88px * (1 + (2 / 3)));

        border-top: 2px solid $white;
        border-left: 2px solid $white;
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: $white;
        text-decoration: none;
        padding: 8px;
        font-family: "MS Sans Serif", "Geneva", sans-serif;
        font-weight: bold;
        font-size: 14px;

        background-image: none;
        box-shadow: none;
        text-shadow: 1px 1px 0 #000;
        transition: none;

        &:nth-child(4n+1) { background-color: $red; }
        &:nth-child(4n+2) { background-color: $green; color: $black; text-shadow: none; }
        &:nth-child(4n+3) { background-color: $blue; }
        &:nth-child(4n+4) { background-color: $orange; }
        &:nth-child(4n+5) { background-color: $orange; }
        &:nth-child(4n+6) { background-color: $orange; }

        &:hover {
            cursor: pointer;
            filter: brightness(1.1);
        }

        &:active {
            border-top: 2px solid $black;
            border-left: 2px solid $black;
            border-right: 2px solid $white;
            border-bottom: 2px solid $white;

            transform: translate(2px, 2px); /* Physisches Verschieben */
        }
    }

    .promo-box {
        border: 2px inset $dark-grey;
        padding: 5px;
        background-color: $black;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .blink {
            color: $red;
            font-weight: bold;
            margin: 0;
        }

        p {
            color: $yellow;
            margin: 5px 0 0 0;
        }

        img {
          margin-top: .8rem;

        }
    }
}

main {
    flex: 1;
    padding: 20px;
    color: $black;
    box-sizing: border-box;
}

footer {
    width: 100%;
    text-align: center;
    border-top: 2px groove $white;
    padding: 10px;
    font-size: 0.8em;
    background-color: $grey;
    color: $black;
}

.blink { animation: blinker 1s linear infinite; }
@keyframes blinker { 50% { opacity: 0; } }

hr {
    border: 0;
    border-top: 1px solid $dark-grey;
    border-bottom: 1px solid $white;
    height: 2px;
    background: none;
    margin: 20px 0;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

    .gallery-item {
        margin: 10px;
        text-align: center;
        width: 150px;

        img {
            width: 100%;
            height: auto;
            border: 2px solid $white;

            &:hover {
                border-color: $yellow;
                cursor: zoom-in;
            }
        }
    }
}

.list {
  .post {
    &:not(:last-child):after {
      content: "";
      display: block;
      height: 4px;
      background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red, orange, yellow, green, blue, indigo, violet, red);
      background-size: 200% auto;
      animation: rainbow-move 4s linear infinite;
      margin: 20px 0;
    }
  }
}

@keyframes rainbow-move {
  0% { background-position: 200% 0; }
  100% { background-position: 0% 0; }
}

@media (max-width: 820px) {
    body {
        padding: 0;
    }

    .main-container {
        width: 100%;
        display: block;
        border: none;
        box-shadow: none;
    }

    aside {
        width: 100%;
        border-right: none;
        border-bottom: 2px groove $white;
    }

    header h1 {
        font-size: 2em;
        /*text-shadow: 1px 1px 0 $black;*/
    }

    aside .nav-toggle-label {
        display: block;
        background-color: $blue;
        color: $white;
        border: 2px outset $white;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 10px;
    }

    aside .nav-toggle-label:active {
        border-style: inset;
    }

    aside .retro-menu {
        display: none;
    }

    aside .nav-toggle:checked ~ .retro-menu {
        display: flex;
    }
}

/* Lightbox (CSS only) */
.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: zoom-out;

    &:target {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        max-width: 90%;
        max-height: 90%;
        border: 5px solid $white;
        box-shadow: 0 0 20px $black;
    }
}
