.crt {
    position: relative;

    &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(180deg, #fff0 70%, rgb(0 0 0 / .25) 50%), linear-gradient(180deg, rgb(255 0 0 / .06), rgb(0 255 0 / .02));
        z-index: 1;
        background-size: .1% 2px, 2px 50%;
        pointer-events: none;
    }
}
