body {
    background-color: #c0c0c0;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    margin: 8px;
}

a { color: #0000ee; text-decoration: underline; }
a:visited { color: #551a8b; }

.button {
    background-color: #c0c0c0;
    border: 2px solid;
    border-color: #ffffff #808080 #808080 #ffffff;
    padding: 2px 6px;
    text-decoration: none;
    color: black;
    appearance: none;
}

.table {
  border-collapse: separate;
  border-spacing: 2px;
  background-color: #c0c0c0;
  border: 2px solid;
  border-color: #ffffff #808080 #808080 #ffffff;

  .td, 
  .th {
      padding: 1px;
      border: 1px solid;
      border-color: #808080 #ffffff #ffffff #808080;
      background-color: #c0c0c0;
  }
}

input[type="text"], textarea {
    border: 2px solid;
    border-color: #808080 #ffffff #ffffff #808080;
    background-color: #ffffff;
    font-family: sans-serif;
}