body {
    background-color: #c0c0c0;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    margin: 8px;
}

a { color: #0000ee; text-decoration: underline; }
a:visited { color: #551a8b; }

.button {
    background-color: #c0c0c0;
    border: 2px solid;
    border-color: #ffffff #808080 #808080 #ffffff;
    padding: 2px 6px;
    text-decoration: none;
    color: black;
    appearance: none;
}

.table {
  border-collapse: separate;
  border-spacing: 2px;
  background-color: #c0c0c0;
  border: 2px solid;
  border-color: #ffffff #808080 #808080 #ffffff;

  .td, 
  .th {
      padding: 1px;
      border: 1px solid;
      border-color: #808080 #ffffff #ffffff #808080;
      background-color: #c0c0c0;
  }
}

input[type="text"], textarea {
    border: 2px solid;
    border-color: #808080 #ffffff #ffffff #808080;
    background-color: #ffffff;
    font-family: sans-serif;
}

.main-container {
    position: relative;

    &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(180deg, #fff0 70%, rgb(0 0 0 / .25) 50%), linear-gradient(180deg, rgb(255 0 0 / .06), rgb(0 255 0 / .02));
        z-index: 1;
        background-size: .1% 2px, 2px 50%;
        pointer-events: none;
    }
}