<h3 align="center">{{ i18n "image_gallery" }}</h3>

<div class="gallery-container table">
    {{ range .Resources.ByType "image" }}
    {{ $id := printf "lb-%s" .Name | anchorize }}
    <div class="gallery-item td">
        <a href="#{{ $id }}">
            <img src="{{ .RelPermalink }}" alt="{{ .Name }}">
        </a>
        <br>
        <font size="-1" color="#00FFFF">{{ .Name }}</font>
    </div>
    <a href="#_" class="lightbox" id="{{ $id }}">
        <img src="{{ .RelPermalink }}" alt="{{ .Name }}">
    </a>
    {{ end }}
</div>